/* Variables */

:root {
  --basic-font-black: #000000;
  --basic-font-dark: #283136;
  --basic-font-grey: #4d4d4d;
  --basic-footer: #444444;
  --basic-green: #00ca74;
  --basic-grey: #eeeeee;
  --basic-red: #fb565a;
  --basic-white: #ffffff;
  --basic-yellow: #efc84a;
  --red-button-hover-bg: #e74246;
  --special-green: #00bc6c;
  --special-red: #e74246;
  --special-yellow: #eab534;
  --very-special-green: #00aa62;
  --very-special-red: #d7373b;
  --very-special-yellow: #e5a722;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: var(--basic-font-dark);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;
  padding: 0;

  grid-template-rows: min-content 1fr min-content;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  align-content: start;
  padding-top: 55px;

  gap: 140px;
  grid-template-columns: 260px 1fr;
}

/* Main navigation */
.main-header {
  background-color: var(--basic-grey);
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-font-black);
  text-transform: uppercase;
}

.page-title h1 {
  align-items: center;
  padding-top: 87px;
  padding-bottom: 108px;

  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
}

/* Logo */

.main-header-logo {
  display: block;
  width: 244px;
  margin-top: 51px;
}
.main-header-logo a:active{
  opacity: 0.4;
}
/* Container */

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 192px;
  padding-top: 75px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation-link {
  position: relative;

  display: block;
  margin-right: 44px;

  color: var(--basic-font-black);
}

.cart {
  position: relative;

  display: block;

  color: var(--basic-font-black);
}

.cart:hover {
  color: var(--basic-red);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-font-black);

  opacity: 0.3;
}

.site-navigation-link-active {
  color: var(--basic-font-black);
}

.site-navigation-link-active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;

  width: 100%;
  height: 2px;

  background: var(--basic-red);
}

.cart::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: block;
  width: 15px;
  height: 15px;
  margin-left: -40px;

  background: url("../img/cart-icon.svg") no-repeat center center;
  background-size: cover;
}

/* Main Slider */
.slider {
  position: relative;

  background-color: var(--basic-grey);
}

.slider-container {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  min-height: 272px;
  padding-top: 67px;
  padding-bottom: 79px;
}

.slider-item-content {
  position: relative;

  display: inline-block;
  min-height: 218px;
  padding-bottom: 55px;

  vertical-align: top;
}

.slide-current {
  display: block;

  background-color: transparent;
}

.slide-title {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-title-2 {
  margin-bottom: 36px;
}

.slide-title-3 {
  width: 450px;
  margin-bottom: 37px;
}

.slide-description {
  width: 368px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 24px;
}

.slide-description-2 {
  width: 409px;
}

.slide-description-3 {
  width: 370px;
}

.button-slider {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 160px;
  min-width: 240px;
  height: 39px;
  padding-top: 13px;

  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button-slider:hover,
.button-slider:focus {
  background-color: var(--special-red);
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-slider:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: var(--very-special-red);
  outline: none;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 536px;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls-label {
  display: block;
  width: 17px;
  height: 17px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item-active {
  display: block;
}

.slider-controls-label {
  position: relative;
}

.slider-controls-label-active {
  background-color: #ffffff;
}

.slider-controls-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  display: none;
  width: 6px;
  height: 6px;

  border: 2px solid #c4c4c4;
  border-radius: 50%;
}

.slider-first:checked ~ .slider-controls .slider-controls-label-first::before {
  display: block;
}

.slider-second:checked ~ .slider-controls .slider-controls-label-second::before {
  display: block;
}

.slider-third:checked ~ .slider-controls .slider-controls-label-third::before {
  display: block;
}

.first-screen {
  background: url("../img/nerds-index-slide1.png") no-repeat bottom right;
}

.second-screen {
  background: url("../img/nerds-index-slide2.png") no-repeat bottom right;
}

.third-screen {
  background: url("../img/nerds-index-slide3.png") no-repeat bottom right;
}

.site-wrapper {
  max-width: 1440px;
  height: 475px;

  background-color: #eeeeee;
}

/* Services */

.services {
  margin-top: 80px;
}

.services-list {
  display: grid;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 100px;

  grid-template-columns: 1fr 1fr 1fr;
}

.service-item {
  position: relative;

  width: 300px;
  padding-top: 120px;
  padding-bottom: 76px;

  text-align: left;
}

.service-item-sites {
  background: url(../img/web-site.png) no-repeat top left;
}

.service-item-apps {
  background: url(../img/web-app.png) no-repeat top left;
}

.service-item-presentations {
  background: url(../img/presentation.png) no-repeat top left;
}

.service-title {
  padding-top: 29px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-font-black);
  text-transform: uppercase;
}

.service-text {
  display: block;
  width: 260px;
  margin-top: -8px;
  padding-top: 0;
  padding-bottom: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/* Buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 3px;
}

/* Red buttons */

.button-red {
  background-color: var(--basic-red);
}

.button-red:hover,
.button-red:focus {
  background-color: var(--special-red);
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--very-special-red);
  outline: none;
}

/* Green button */

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--special-green);
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--very-special-green);
  outline: none;
}

/* Yellow button */

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--special-yellow);
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--very-special-yellow);
  outline: none;
}

/* About us - Left part */

.about-us {
  margin-bottom: 73px;
}

.about-us-title {
  margin-top: 14px;
  margin-bottom: 34px;
  margin-left: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-text {
  margin-top: 0;
}

.about-us-list {
  margin-top: 41px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto;
  text-transform: uppercase;
}

.products {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto;
}

.product-item {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.products {
  margin-bottom: 37px;
  padding-left: 35px;

  list-style: none;
}

.products li {
  position: relative;
}

.product-text {
  margin-top: -2px;
}

.products li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: var(--basic-red);
}

/* About us - Right part */

.inner-columns {
  display: flex;
  margin: 60px 0 57px 0;
}

.inner-column-left {
  width: 700px;
}

.inner-column-right {
  width: 400px;
  margin-left: 80px;
}

.picture-nerds {
  margin-top: -20px;
  margin-left: 30px;
}

.benefits-title {
  padding-top: 10px;
  padding-left: 50px;

  text-transform: uppercase;
}

.benefits {
  display: grid;
  width: 360px;
  margin: 0;
  padding: 0;
  padding-left: 32px;

  list-style: none;
  column-gap: 0;

  grid-template-columns: 1fr 1fr 1fr;
}

.counters-title {
  margin-top: 8px;

  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.counters-title sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.counters-text {
  margin-top: -27px;

  font-size: 16px;
  line-height: 18px;
}

/* Long horizontal lines */

.about-us::before,
.about-us::after {
  content: "";

  display: block;
  width: 1158px;
  height: 2px;

  background: var(--basic-grey);
}

.about-us::before {
  margin-top: 2px;
}

.about-us::after {
  margin-top: -20px;
}

.partners::after {
  content: "";

  display: block;
  width: 1158px;
  height: 2px;
  margin-top: 38px;
  margin-bottom: 80px;

  background: var(--basic-grey);
}

/* Logo partners */

.logos {
  display: grid;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 0;

  list-style: none;
  column-gap: 100px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logos-partners {
  opacity: 0.2;
}

.logo-partner-2 {
  margin-top: -17px;
  margin-left: -11px;
}

.logo-partner-3 {
  margin-left: -8px;
}

.logo-partner-4 {
  margin-top: -12px;
  margin-left: -8px;
}

.logos-partners:hover,
.logos-partners:focus {
  opacity: 1;
}

.logos-partners:active {
  opacity: 0.1;
}

.logos li:nth-child(1)::after,
.logos li:nth-child(2)::after,
.logos li:nth-child(3)::after {
  content: "";
  position: absolute;

  display: block;
  width: 2px;
  height: 52px;

  background-color: var(--basic-grey);
}

.logos li:nth-child(1)::after {
  margin-top: -80px;
  margin-left: 248px;
}

.logos li:nth-child(2)::after {
  margin-top: -80px;
  margin-left: 252px;
}

.logos li:nth-child(3)::after {
  margin-top: -60px;
  margin-left: 242px;
}

/* Map */
.map {
  position: relative;

  width: 100%;
  min-height: 307px;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 57px;

  background: url(../img/map-and-marker.png);
}

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.map-iframe iframe {
  width: 100%;
  height: 100%;
}

.contact-info {
  position: relative;
  left: 50%;
  z-index: 10;

  width: 220px;
  margin-left: -580px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 46px;
  padding-left: 50px;

  background: var(--basic-white);
}

.map-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
}

.map-text {
  padding: 0;

  line-height: 18px;
}

.button-form {
  width: 219px;
}

/* Contact Form */

.modal {
  position: fixed;
  top: 15%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 100;

  display: none;
  width: 960px;
  margin: auto;

  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 60px;

  width: 22px;
  height: 22px;

  background: url("../img/close-cross.svg") no-repeat center center;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  outline: none;
  opacity: 1;
}

.modal-close:active,
.modal-close:active {
  outline: none;
  opacity: 0.1;
}

.contact {
  box-sizing: border-box;
  width: 960px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;

  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.contact h2 {
  padding-bottom: 20px;

  font-weight: bold;
  font-size: 32px;
}

.contact p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: Roboto;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.contact-form > div {
  flex-grow: 1;
}

.contact-item {
  width: 360px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.contact-item input,
.contact-item textarea {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  font: inherit;
  font-weight: 500px;
  font-size: 16px;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  opacity: 0.5;
}

.contact-item .error {
  border-color: var(--basic-red);
}

.contact-item input {
  width: 360px;

  background: #ffffff;
}

.contact-item:nth-child(2n) {
  margin-left: 40px;
}

.contact-item textarea {
  width: 760px;
  height: 145px;

  background: #ffffff;
}

.contact-item input:hover,
.contact-item textarea:hover {
  color: #444444;

  border: 2px solid #b4b9bb;
  outline: none;
}

.contact-item input:focus,
.contact-item textarea:focus {
  color: #444444;

  border: 2px solid #000000;
  outline: none;
}

.contact-item input:disabled,
.contact-item textarea:disabled {
  color: var(--red-button-hover-bg);

  border: 2px solid var(--red-button-hover-bg);
  outline: none;
}

.contact .button {
  position: relative;

  width: 259px;
  margin-top: 230px;
  margin-left: -360px;
}

/* Filters */

.filter-item {
  width: 260px;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 32px;
}

.filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.price {
  margin-top: 0;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: flex-start;
}

.price-controls label {
  font-size: 15px;
  line-height: 36px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
}

.price-controls input {
  box-sizing: border-box;
  width: 80px;
  margin-left: 10px;
  padding: 10px;
  padding-right: 0;
  padding-left: 17px;

  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.min-price {
  margin-right: 2px;
  margin-left: -2px;
}

.max-price {
  margin-right: 3px;
  margin-left: 33px;
}

.filters {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter-range-filter {
  margin-bottom: 54px;
}

.filter legend {
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  margin-left: -2px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-font-dark);
  text-transform: uppercase;

  border: none;
}

.net-list {
  margin: 0;
  margin-left: 33px;
  padding: 0;
}

.filter ul {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-font-dark);
}

.filter-option {
  margin-bottom: 21px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -37px;

  width: 16px;
  height: 16px;

  border: 5px solid #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -28.5px;

  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;

  width: 23px;
  height: 23px;

  background: url(../img/checkbox-off.svg) no-repeat center center;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -37px;

  width: 28px;
  height: 23px;

  background: url(../img/checkbox-on.svg) no-repeat center center;
  opacity: 0.4;
}

.filter-option label:hover::before,
.filter-input-checkbox:focus + label::before,
.filter-option label:hover::after,
.filter-input-checkbox:focus + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:active + label,
.filter-input-checkbox:disabled + label{
  color: var(--basic-font-dark);

  opacity: 0.3;
}

.filter-input-checkbox:focus + label {
  color: var(--basic-font-dark);
}

.filter-input-radio:active + label,
.filter-input-radio:disabled + label{
  color: var(--basic-font-dark);

  opacity: 0.3;
}

.filter-button {
  align-items: center;
  width: 260px;
  height: 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;

  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
  outline: none;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background: #d5d5d5;
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.filter-net {
  margin-bottom: 0;
}

.special-features-list {
  margin: 0;
  margin-top: 1px;
  margin-left: 33px;
  padding: 0;
}

.filter-special-features {
  margin-top: 24px;
  margin-bottom: 34px;
}

.filter-checkbox {
  margin-bottom: 20px;
}

.filter-horizontal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;

  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 272px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.options-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  cursor: pointer;
}

.options-label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.options-label:focus {
  color: rgba(0, 0, 0, 0.6);

  outline: none;
}

.options-label-active,
.options-label:active {
  color: var(--basic-font-black);
}

.options-directions {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.options-directions-label {
  cursor: pointer;
}

.o-direction-icon {
  opacity: 0.2;

  fill: #a6a6a6;
}

.options-directions-label:hover .o-direction-icon {
  opacity: 1;
}

.options-directions-label-active .o-direction-icon,
.options-directions-label:active .o-direction-icon {
  opacity: 1;

  fill: var(--basic-font-black);
}

.options h3 {
  padding-left: 20px;
}

.filter-horizontal-title {
  margin: 0;
  margin-right: 218px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-size: 18px;
  line-height: 30px;
  line-height: 30px;
  font-family: Roboto;
  color: var(--basic-font-black);
  text-transform: uppercase;
}

/* .options:hover,
.options:focus {
  color: var(--basic-font-black);
  opacity: 0.6;
} */

.options:active {
  color: var(--basic-font-black);

  opacity: 1;
}

.modal-filter {
  position: absolute;
  top: 0;

  width: 2px;
  height: 10px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-filter::after {
  content: "";
  position: absolute;

  display: block;
  width: 10px;
  height: 11px;
  margin-top: 415px;
  margin-left: 880px;

  background: url("../img/icon-up-dir.svg") no-repeat center center;
  background-size: cover;
  outline: none;
  opacity: 0.3;
}

.modal-filter::before {
  content: "";
  position: absolute;

  display: block;
  width: 10px;
  height: 11px;
  margin-top: 415px;
  margin-left: 850px;

  background: url("../img/icon-down-dir.svg") no-repeat center center;
  background-size: cover;
  outline: none;
  opacity: 0.3;
}

.modal-filter:hover::before,
.modal-filter:hover::after,
.modal-filter:focus::before,
.modal-filter:hover::after {
  color: var(--basic-font-black);

  outline: none;
  opacity: 0.6;
}

.modal-filter:active::before,
.modal-filter:active::before {
  color: var(--basic-font-black);

  outline: none;
  opacity: 1;
}

/* Catalog */

.page-internal {
  padding-top: 65px;
  padding-bottom: 109px;

  background-color: var(--basic-grey);
}

.page-internal-title {
  margin: 0;
  padding: 0;
  padding-right: 15px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.slider-control em {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider-control {
  position: absolute;
  top: 11px;
  left: 0;
  left: 15px;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  width: 60px;
}

.control-panel {
  z-index: 1;

  width: 100%;
  height: 40px;
  margin-bottom: 0;

  background-color: var(--basic-font-grey);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.12;
}

.control-panel:hover,
.control-panel:active {
  background-color: var(--basic-font-grey);
  opacity: 1;
}

.catalog-page img {
  width: 100%;
}

.catalog-item-image {
  margin-top: 0;
}

.catalog-description {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: auto;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 46px;

  text-align: center;

  background-color: var(--basic-grey);
  opacity: 0;
}

.catalog-item-price {
  display: inline-block;
  min-width: 181px;
  height: 20px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  padding: 14px 10px;

  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background: var(--basic-red);
  border-radius: 3px;
}

.catalog-item-price:hover,
.catalog-item-price:focus {
  background: var(--red-button-hover-bg);
  outline: none;
}

.catalog-item-price:active {
  background: var(--very-special-red);
  outline: none;
}

.catalog-item-link {
  display: block;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto;
  color: var(--basic-font-grey);
}

.catalog-item-link:hover,
.catalog-item-link:focus {
  color: var(--basic-red);

  outline: none;
}

.catalog-item-link:active {
  color: var(--basic-red);
  color: var(--basic-font-color);

  opacity: 0.3;
}

.catalog-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 40px;

  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}

.catalog-item {
  position: relative;

  width: 360px;
  height: 620px;
  padding: 0;
}

.catalog-item:hover,
.catalog-item:focus-within {
  box-shadow: 0 0 14px -3px var(--basic-font-black);
}

.catalog-item:hover .control-panel,
.catalog-item:focus-within .control-panel {
  background-color: var(--basic-font-grey);
  opacity: 1;
}

.catalog-item:hover .catalog-description,
.catalog-item:focus-within .catalog-description {
  opacity: 1;
}

.page-catalog .page-title {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .breadcrumbs {
  padding: 0;

  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.catalog-description h2 {
  align-items: center;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-description h3 {
  align-items: center;
  margin: 0;
  margin-bottom: 33px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog-description h2:hover,
.catalog-description h2:focus {
  color: var(--basic-red);
}

.catalog-description h2:active {
  color: var(--basic-font-black);

  opacity: 0.3;
}

.button-buy {
  align-items: center;
  width: 160px;
  height: 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--special-red);
  outline: none;
}

.button-buy:active {
  background-color: var(--very-special-red);
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.inner-page .main-header {
  background-color: var(--basic-grey);
}

.inner-page {
  background-color: var(--basic-white);
}

.page-title {
  align-items: center;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.catalog-section {
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);

  background-color: var(--basic-grey);
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 53px;
  margin-bottom: 60px;
  margin-left: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  align-items: center;
  padding: 10px 19px;

  font-weight: 500;
  text-align: center;
  color: var(--basic-font-black);
  text-transform: uppercase;

  background-color: var(--basic-grey);
  border: 3px solid var(--basic-grey);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid #dbdbdb;
}

/* Main footer */

.page-footer {
  display: inline-block;
  display: flex;

  vertical-align: center;
  color: var(--basic-footer);

  background-color: var(--basic-white);
}

.page-footer .footer-discount {
  display: inline-block;
  margin-top: 75px;
  margin-left: 140px;

  vertical-align: center;
}

.footer-phone {
  display: block;
  color: #666666;
  margin-bottom: 33px;
}

.page-footer h2 {
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-font-black);
}

.page-footer p {
  align-items: center;
}

.footer-social .social-link {
  position: relative;

  display: inline-block;
  margin-top: 70px;
  margin-bottom: 101px;

  vertical-align: middle;
}

.social-link {
  position: relative;

  display: inline-block;
  width: 81px;
  height: 81px;

  vertical-align: middle;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 40px;
  height: 40px;
  padding-right: 9px;

  background-size: cover;
  transform: translate(-50%, -50%);
}

.social-link:active::before {
  opacity: 0.3;
}

.social-link-vk::before {
  background: url("../img/vk-icon.svg") no-repeat center center;
}

.social-link-fb::before {
  background: url("../img/fb-icon.svg") no-repeat center center;
}

.social-link-in::before {
  background: url("../img/insta-icon.svg") no-repeat center center;
}

.social-link:hover,
.social-link:focus {
  background: linear-gradient(0deg,
      var(--red-button-hover-bg),
      var(--red-button-hover-bg)),
    #ffffff;
  outline: none;
}

.social-link:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  outline: none;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-title {
  margin-top: 0;
  margin-left: 10px;
}

.footer-text {
  margin-top: -24px;
  margin-left: 10px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
